{{template "admin" .}}

{{define "page-title"}}
    Reservation
{{end}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    {{$src := index .StringMap "src"}}
    <div class="col-md-12">
        <p>
            <strong>Arrival:</strong> {{simpleDate $res.StartDate}} <br/>
            <strong>Departure:</strong> {{simpleDate $res.EndDate}} <br/>
            <strong>Room:</strong> {{$res.Room.RoomName}} <br/>
        </p>

        <form action="/admin/reservations/{{$src}}/{{$res.ID}}" method="POST" novalidate> <!-- class="needs-validation" -->
            <input type="hidden" name="csrf_token" value="{{.CsrfToken}}"/>

            <div class="row my-3">
                <div class="col">
                    <label for="firstName" class="form-label font-weight-bold">First name:</label>
                    {{with .Form.Errors.GetFirst "first_name"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input required type="text" name="first_name" class="form-control {{if .Form.Errors.GetFirst "first_name"}}is-invalid{{end}}" id="firstName" value="{{$res.FirstName}}">
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <label for="lastName" class="form-label font-weight-bold">Last name:</label>
                    {{with .Form.Errors.GetFirst "last_name"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input required type="text" name="last_name" class="form-control {{if .Form.Errors.GetFirst "last_name"}}is-invalid{{end}}" id="lastName" value="{{$res.LastName}}">
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <label for="email" class="form-label font-weight-bold">Email:</label>
                    {{with .Form.Errors.GetFirst "email"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input required type="text" name="email" class="form-control {{if .Form.Errors.GetFirst "email"}}is-invalid{{end}}" id="email" value="{{$res.Email}}">
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <label for="phone" class="form-label font-weight-bold">Phone number:</label>
                    {{with .Form.Errors.GetFirst "phone"}}<label class="text-danger">{{.}}</label>{{end}}
                    <input required type="text" name="phone" class="form-control {{if .Form.Errors.GetFirst "phone"}}is-invalid{{end}}" id="phone" value="{{$res.Phone}}">
                </div>
            </div>
            <input type="submit" class="btn btn-primary my-3" value="Make reservation">
            <a href="/admin/reservations-{{$src}}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
{{end}}
