{{define "admin"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Fort Smythe Administration</title>
        <link rel="stylesheet" href="/static/royal-ui/vendors/ti-icons/css/themify-icons.css">
        <link rel="stylesheet" href="/static/royal-ui/vendors/base/vendor.bundle.base.css">
        <link rel="stylesheet" href="https://unpkg.com/notie/dist/notie.min.css">
        <link rel="stylesheet" href="/static/royal-ui/css/style.css">
        <link rel="stylesheet" href="/static/css/admin.css">
        <link rel="shortcut icon" href="/static/royal-ui/images/favicon.png"/>

        {{block "css" . }}

        {{end}}
    </head>
    <body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row text-dark">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5 text-dark font-weight-bold" href="/admin/reservations-calendar">Fort Smythe</a>
                <a class="navbar-brand brand-logo-mini text-dark font-weight-bold" href="/admin/reservations-calendar">FS</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="ti-view-list text-dark"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile">
                        <a class="nav-link text-dark" href="/">
                            Public Site
                        </a>
                    </li>
                    <li class="nav-item nav-profile">
                        <a class="nav-link text-dark" href="/user/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/reservations-calendar">
                            <i class="ti-calendar menu-icon text-dark"></i>
                            <span class="menu-title text-dark">Reservation calendar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                           aria-controls="ui-basic">
                            <i class="ti-layout-list-thumb menu-icon text-dark"></i>
                            <span class="menu-title text-dark">Reservations</span>
                            <i class="menu-arrow text-dark"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/admin/reservations-all">All reservations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/admin/reservations-new">New reservations</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper bg-light">
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="display-5 font-weight-bold mb-0">{{block "page-title" .}} {{end}}</div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{block "content" .}}

                        {{end}}
                    </div>

                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">

                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="/static/royal-ui/vendors/base/vendor.bundle.base.js"></script>
    <script src="/static/royal-ui/js/off-canvas.js"></script>
    <script src="/static/royal-ui/js/hoverable-collapse.js"></script>
    <script src="/static/royal-ui/js/template.js"></script>
    <script src="/static/royal-ui/js/todolist.js"></script>
    <script src="/static/royal-ui/js/dashboard.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/static/js/app.js"></script>
    <script>
        let attention = Prompt();

        function notify(msg, msgType) {
            notie.alert({
                text: msg,
                type: msgType,
            });
        }

        {{with .Error}}
        notify("{{.}}", "error");
        {{end}}

        {{with .Flash}}
        notify("{{.}}", "success");
        {{end}}

        {{with .Warning}}
        notify("{{.}}", "warning");
        {{end}}
    </script>

    {{block "js" . }}

    {{end}}
    </body>

    </html>


{{end}}