{{template "admin" .}}

{{define "page-title"}}
    Reservations calendar
{{end}}

{{define "content"}}
    <div class="col-md-12">
        <div class="text-center">
            <div class="display-4">
                {{index .StringMap "current_month"}} {{index .StringMap "current_month_year"}}
            </div>

            <div class="d-flex justify-content-between">
                <a class="btn btn-sm btn-outline-secondary"
                   href="/admin/reservations-calendar?y={{index .StringMap "previous_month_year"}}&m={{index .StringMap "previous_month"}}">
                    &lt;&lt;
                </a>
                <a class="btn btn-sm btn-outline-secondary"
                   href="/admin/reservations-calendar?y={{index .StringMap "next_month_year"}}&m={{index .StringMap "next_month"}}">
                    &gt;&gt;
                </a>
            </div>
        </div>
    </div>
{{end}}