{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="contactData">
                <h1 class="text-center my-5">Contact Us</h1>

                <div class="d-flex justify-content-around flex-wrap">
                    <div class="my-2">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9768.681565612194!2d20.931521902447695!3d52.25845081052863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecbaee7b3aedf%3A0x3fe8f1acc12a2f67!2sFort%20Bema%2C%20Warsaw!5e0!3m2!1sen!2spl!4v1631447769958!5m2!1sen!2spl"
                                width="540" height="400" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                    </div>
                    <div class="text-center my-2">
                        <strong>Fort Smythe Bed & Breakfast</strong><br>
                        <div>42 Developer Street</div>
                        <div>Warsaw, Poland</div>
                        <div>(48) 500 900 700</div>
                        <a href="mailto:contact@fort.com">contact@fort.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}