{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center my-5">Sed in tristique ligula</h1>
                <p>
                    Sed vitae mi vel ex rutrum tincidunt. Cras varius faucibus maximus. Aenean vehicula bibendum
                    commodo.
                    Donec aliquet turpis quis blandit finibus. Mauris id lacus id orci ultrices malesuada viverra
                    suscipit elit. Sed sit amet est rutrum, mattis orci id, laoreet risus. Ut eget magna at libero
                    lacinia pharetra. Nunc sodales arcu at sapien pulvinar molestie. Integer eu congue magna. Curabitur
                    vestibulum, ex eget volutpat ultricies, sem erat condimentum neque, vitae egestas ante lacus vitae
                    nisi. Mauris lacus magna, molestie eget sem et, euismod consequat tellus. Duis sodales, urna eu
                    vehicula condimentum, neque ligula fringilla orci, non euismod turpis elit sit amet est. Ut a
                    hendrerit quam, eget scelerisque ipsum. Nunc ut vehicula odio.
                </p>
                <p>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ac
                    massa id diam tincidunt auctor sed ac mi. Quisque a sapien non metus condimentum eleifend ut sit
                    amet ipsum. Nullam feugiat vitae odio a pretium. Suspendisse potenti. Pellentesque tristique augue
                    eu interdum egestas. Pellentesque vitae felis sit amet turpis accumsan rutrum. Maecenas lacinia
                    condimentum tellus, sit amet eleifend ipsum vehicula laoreet. Nunc mollis, nisl ut euismod
                    tincidunt, massa turpis venenatis felis, et ultrices metus mauris vel neque. Proin posuere sit amet
                    turpis et consectetur. Maecenas in metus eget leo mollis consequat. Nam suscipit porta imperdiet.
                    Curabitur tincidunt ultrices placerat.
                </p>
                <h2 class="text-center my-5">Vestibulum venenatis pretium mollis</h2>
                <p>
                    Vivamus sit amet mauris eu enim aliquam vulputate ac lobortis nulla. Nunc eros enim, suscipit non
                    risus et, efficitur iaculis ante. Nulla non vulputate lorem. Donec nunc ligula, dapibus ut dapibus
                    id, fringilla a magna. Morbi vel feugiat leo. Interdum et malesuada fames ac ante ipsum primis in
                    faucibus. Mauris hendrerit mattis est eget gravida. Praesent sed suscipit elit. Aliquam non metus
                    vitae orci euismod bibendum. Suspendisse potenti. Aliquam congue rutrum diam sit amet hendrerit.
                    Nullam volutpat eleifend metus, sit amet dignissim tortor aliquet vehicula. Sed vitae leo vitae leo
                    condimentum rutrum id vitae erat. Cras lacinia rutrum felis vitae pretium.
                </p>
            </div>
        </div>
    </div>
{{end}}
