{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png"
                     class="img-fluid img-thumbnail mx-auto d-block room-image my-3" alt="General's Quarters image">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center my-5" id="room-header" data-room-id="1">General's Quarters</h1>
                <p>
                    Maecenas et ante suscipit, convallis nulla nec, dignissim est. Praesent commodo lacus vitae lorem
                    efficitur, ut vulputate sapien convallis. Morbi tempor nisi vitae semper venenatis. Maecenas
                    ullamcorper pellentesque tortor, ac malesuada sem vestibulum sed. Etiam iaculis velit at lacus
                    porttitor venenatis. Nam luctus, ex et porta fringilla, erat nisi tristique urna, ut pellentesque
                    metus quam eget libero. Ut laoreet gravida pellentesque. Phasellus eu risus euismod erat consectetur
                    mattis. Etiam nec libero vitae nisl dignissim fringilla. Mauris ut lectus congue, pellentesque
                    tortor in, suscipit ante. Nullam vulputate, turpis a ultricies iaculis, lectus metus laoreet tellus,
                    sed volutpat elit odio sed ex. Donec egestas fermentum orci eu lacinia. Curabitur ac lacinia dui.
                    Maecenas hendrerit pellentesque massa sed ultrices. In accumsan at urna a commodo.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#" class="btn btn-success my-4">Check availability</a>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
    <script>
        RoomPage(1, "{{.CsrfToken}}");
    </script>
{{end}}
