{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image my-3"
                     alt="Major's Suite image">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center my-5" id="room-header" data-room-id="2">Major's Suite</h1>
                <p>
                    Nunc neque risus, hendrerit in diam et, tincidunt ultrices sapien. Nullam mattis, tellus in congue
                    facilisis, dolor nibh ornare leo, sed viverra neque dolor eget justo. Etiam nec eros id magna
                    feugiat maximus ac sit amet neque. Mauris vitae hendrerit elit. Mauris nunc nibh, congue vel tempor
                    at, dictum a lectus. Donec sit amet varius diam. Vivamus a magna vel dui laoreet euismod. Maecenas
                    lectus tortor, ultrices ac ex eget, vulputate varius mi. Sed est metus, pulvinar id ligula id,
                    pellentesque facilisis purus. Cras mattis non libero vitae egestas. Nullam faucibus erat neque,
                    sollicitudin vulputate mauris blandit porta. Phasellus id quam quis ipsum vehicula facilisis et sit
                    amet augue. Sed porttitor pharetra mauris, ut finibus purus tristique in. Etiam malesuada
                    sollicitudin libero in tempus.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a id="check-availability-button" href="#" class="btn btn-success my-4">Check availability</a>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
    <script>
        RoomPage(2, "{{.CsrfToken}}");
    </script>
{{end}}
