{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1 class="text-center mt-5">Search for availability</h1>
            <form action="/search-availability" method="POST" novalidate class="needs-validation" autocomplete="off">
                <input type="hidden" name="csrf_token" value="{{.CsrfToken}}"/>
                <div class="row my-3" id="reservation-dates">
                    <div class="col-sm-6">
                        <label for="startDate" class="form-label">Starting date</label>
                        <input required type="text" name="start_date" class="form-control" id="startDate" placeholder="Arrival">
                    </div>
                    <div class="col-sm-6">
                        <label for="endDate" class="form-label">Ending date</label>
                        <input required type="text" name="end_date" class="form-control" id="endDate" placeholder="Departure">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
<script>
    let minDate = new Date();
    minDate.setDate(minDate.getDate() + 1);

    const reservationDates = document.getElementById('reservation-dates');
    const dateRangePicker = new DateRangePicker(reservationDates, {
        format: 'yyyy-mm-dd',
        minDate: minDate,
    });
</script>
{{end}}
