.notie-container {
    z-index: 2000;
}

.reservationsList {
    max-width: 1440px;
}

.reservationEditForm {
    max-width: 800px;
}

.deleteReservationButton {
    margin-left: auto;
}

.calendar {
    min-width: 720px;
    max-width: 720px;
}

.calendars .calendar {
    margin-right: 4rem;
}

.calendar + .calendar {
    margin-right: 0;
}

.calendar td {
    width: 14.2857%;
    height: 2.5rem;
}
