{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Make reservation</h1>
            <form action="/make-reservation" class="needs-validation" novalidate method="POST">
                <input type="hidden" name="csrf_token" value="{{.CsrfToken}}"/>
                <div class="row my-3">
                    <div class="col">
                        <label for="firstName" class="form-label">First name:</label>
                        <input required type="text" name="first_name" class="form-control" id="firstName">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label for="lastName" class="form-label">Last name:</label>
                        <input required type="text" name="last_name" class="form-control" id="lastName">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label for="email" class="form-label">Email:</label>
                        <input required type="text" name="email" class="form-control" id="email">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <label for="phone" class="form-label">Phone number:</label>
                        <input required type="text" name="phone" class="form-control" id="phone">
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Make reservation">
            </form>
        </div>
    </div>
</div>

{{end}}