{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1 class="text-center mt-5">Search for availability</h1>
            <form action="/search-availability" method="POST" novalidate class="needs-validation">
                <div class="row my-3" id="reservation-dates">
                    <div class="col-sm-6">
                        <label for="startDate" class="form-label">Starting date</label>
                        <input required type="text" name="start_date" class="form-control" id="startDate" placeholder="Arrival">
                    </div>
                    <div class="col-sm-6">
                        <label for="endDate" class="form-label">Ending date</label>
                        <input required type="text" name="end_date" class="form-control" id="endDate" placeholder="Departure">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="check-availability-button" type="button" class="btn btn-primary">Test date range modal</button>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
<script>
    const reservationDates = document.getElementById('reservation-dates');
    const dateRangePicker = new DateRangePicker(reservationDates, {
        format: 'yyyy-mm-dd'
    });

    let attention = Prompt();

    document.getElementById('check-availability-button').addEventListener('click', function () {
        const html = `
<div class="container">
    <form id="check-availability" action="" method="post" novalidate class="needs-validation">
        <div class="row my-3" id="reservation-dates-modal">
            <div class="col-sm-6">
                <label for="startDateModal" class="form-label">Starting date</label>
                <input disabled required type="text" name="start_date" class="form-control" id="startDateModal" placeholder="Arrival">
            </div>
            <div class="col-sm-6">
                <label for="endDateModal" class="form-label">Ending date</label>
                <input disabled required type="text" name="end_date" class="form-control" id="endDateModal" placeholder="Departure">
            </div>
        </div>
    </form>
</div>
`;
        const preConfirm = () => {
                return [
                    document.getElementById('startDateModal').value,
                    document.getElementById('endDateModal').value,
                ]
            },
            willOpen = () => {
                const reservationDatesModal = document.getElementById('reservation-dates-modal');
                const dateRangePicker = new DateRangePicker(reservationDatesModal, {
                    format: 'yyyy-mm-dd',
                });
            },
            didOpen = () => {
                document.getElementById('startDateModal').removeAttribute('disabled');
                document.getElementById('endDateModal').removeAttribute('disabled');
            };

        attention.custom({
            title: 'Choose your dates',
            msg: html,
            preConfirm: preConfirm,
            willOpen: willOpen,
            didOpen: didOpen,
        });
    });

    function Prompt() {
        let toast = function (c) {
            const {
                msg = '',
                icon = 'success',
                position = 'top-end',
            } = c;

            const Toast = Swal.mixin({
                toast: true,
                title: msg,
                position: position,
                icon: icon,
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({});
        }

        let success = function (c) {
            const {
                msg = '',
                title = '',
                footer = '',
            } = c;

            Swal.fire({
                icon: 'success',
                title: title,
                text: msg,
                footer: footer,
            })
        }

        let error = function (c) {
            const {
                msg = '',
                title = '',
                footer = '',
            } = c;

            Swal.fire({
                icon: 'error',
                title: title,
                text: msg,
                footer: footer,
            })
        }

        let custom = async function custom(c) {
            const {
                title = '',
                msg = '',
                preConfirm = () => {
                },
                willOpen = () => {
                },
                didOpen = () => {
                },
            } = c;

            const {value: formValues} = await Swal.fire({
                title: title,
                html: msg,
                backdrop: false,
                focusConfirm: false,
                showCancelButton: true,
                preConfirm: preConfirm,
                willOpen: willOpen,
                didOpen: didOpen,
            })

            if (formValues) {
                Swal.fire(JSON.stringify(formValues))
            }
        }

        return {
            toast: toast,
            success: success,
            error: error,
            custom: custom,
        }
    }
</script>
{{end}}
